.main {
    padding: 10px 0 38px 0;
}

@media screen and (max-width: 539px) {
    .main {
        padding: 0 0 40px 0s;
    }
}

@media screen and (max-width: 400px) {
    .main {
        padding: 0 16px 40px;
    }
}