.work__list-item {
    font-size: 18px;
    line-height: 25px;
    color: #292929;
    margin: 12px 0 0;
}

.work__list-item:first-child {
    margin: 0;
}

@media screen and (max-width: 539px) {
    .work__list-item {
        font-size: 16px;
        line-height: 23px;
    }
}